<div class="flex items-center justify-center min-h-screen bg-cyan-50">
  <div class="bg-white p-6 m-3 space-y-10 shadow-2xl rounded-3xl md:p-40">
    <div
      class="flex flex-col items-center justify-center space-y-3 md:flex-row md:space-y-0 md:space-x-8 md:mb-24 md:justify-end">
      <div class="group">
        <a href="/ig">Vector</a>
        <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100">

        </div>
      </div>
      <div class="group">
        <a href="/ig">Illustrations</a>
        <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100">

        </div>
      </div>
      <div class="group">
        <a href="/ig">Images</a>
        <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100">

        </div>
      </div>
      <div class="group">
        <a href="/ig">Icons</a>
        <div class="mx-2 mt-2 duration-500 border-b-2 opacity-0 border-black group-hover:opacity-100">

        </div>
      </div>
    </div>
    <div class="flex flex-col justify-between space-y-5 md:flex-row md:space-y-0">
      <div class="flex justify-between border-b">
        <input class="ml-6 border-none md:w-80 placeholder:font-thin focus:outline-none" placeholder="Search"/>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <button
        class="py-3 px-14 text-lg font-normal text-white bg-black border border-black rounded-md shadow-2xl duration-200 hover:bg-white hover:text-black">
        Upload
      </button>
    </div>
    <div class="grid gap-4 md:grid-cols-3 lg:grid-cols-5">
      <div class="relative group">
        <img alt="" class="w-72" height="428" ngSrc="assets/image-gallery/image1.jpg" width="550"/>
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-cs">245 Likes - 35 Shares</p>
            </div>
            <div class="flex items-center">
              <img ngSrc="assets/image-gallery/bookmark.svg" alt="" height="28" width="28"/>
            </div>
          </div>
        </div>
      </div>
      <div class="relative group">
        <img alt="" class="w-72" height="428" ngSrc="assets/image-gallery/image2.jpg" width="550"/>
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-cs">245 Likes - 35 Shares</p>
            </div>
            <div class="flex items-center">
              <img ngSrc="assets/image-gallery/bookmark.svg" alt="" height="28" width="28"/>
            </div>
          </div>
        </div>
      </div>
      <div class="relative group">
        <img alt="" class="w-72" height="428" ngSrc="assets/image-gallery/image3.jpg" width="550"/>
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-cs">245 Likes - 35 Shares</p>
            </div>
            <div class="flex items-center">
              <img ngSrc="assets/image-gallery/bookmark.svg" alt="" height="28" width="28"/>
            </div>
          </div>
        </div>
      </div>
      <div class="relative group">
        <img alt="" class="w-72" height="428" ngSrc="assets/image-gallery/image4.jpg" width="550"/>
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-cs">245 Likes - 35 Shares</p>
            </div>
            <div class="flex items-center">
              <img ngSrc="assets/image-gallery/bookmark.svg" alt="" height="28" width="28"/>
            </div>
          </div>
        </div>
      </div>
      <div class="relative group">
        <img alt="" class="w-72" height="428" ngSrc="assets/image-gallery/image5.jpg" width="550"/>
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-cs">245 Likes - 35 Shares</p>
            </div>
            <div class="flex items-center">
              <img ngSrc="assets/image-gallery/bookmark.svg" alt="" height="28" width="28"/>
            </div>
          </div>
        </div>
      </div>
      <div class="relative group">
        <img alt="" class="w-72" height="428" ngSrc="assets/image-gallery/image6.jpg" width="550"/>
        <div
          class="absolute bottom-0 left-0 right-0 p-2 px-4 text-white duration-500 bg-black opacity-0 group-hover:opacity-100 bg-opacity-40">
          <div class="flex justify-between w-full">
            <div class="font-normal">
              <p class="text-sm">Abstract Painting</p>
              <p class="text-cs">245 Likes - 35 Shares</p>
            </div>
            <div class="flex items-center">
              <img ngSrc="assets/image-gallery/bookmark.svg" alt="" height="28" width="28"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
