<mat-toolbar>
  <mat-toolbar-row class="space-x-3">
    <button
      class="inline-flex font-serif p-1.5 rounded shadow-md text-zinc-300 bg-blue-600 hover:bg-white hover:text-blue-800 duration-500"
      mat-line routerLink="/es">Email Subscribe
    </button>
    <button
      class="inline-flex font-serif p-1.5 rounded text-zinc-300 bg-blue-600 hover:bg-white hover:text-blue-800 duration-500"
      mat-line routerLink="/pg">Pricing Grids
    </button>
    <button
      class="inline-flex font-serif p-1.5 rounded text-zinc-300 bg-blue-600 hover:bg-white hover:text-blue-800 duration-500"
      mat-line routerLink="/pm">Product Modal
    </button>
    <button
      class="inline-flex font-serif p-1.5 rounded text-zinc-300 bg-blue-600 hover:bg-white hover:text-blue-800 duration-500"
      mat-line routerLink="/ig">Image Gallery
    </button>
    <button
      class="inline-flex font-serif p-1.5 rounded text-zinc-300 bg-blue-600 hover:bg-white hover:text-blue-800 duration-500"
      mat-line routerLink="/lm">Login Modal
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
